name: Install and Pack

on: 
  release:
    types: [published]

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '14'

      - name: Install dependencies
        run: npm install 

      - name: Run pack script
        run: npm run pack

      - name: Upload dist folder
        uses: actions/upload-artifact@v4
        with:
          name: dist-windows
          path: ./dist\win-unpacked

  build-mac:
    runs-on: macos-13
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '14'

      - name: Install dependencies
        run: npm install 

      - name: Run pack script
        run: npm run pack

      - name: Upload dist folder
        uses: actions/upload-artifact@v4
        with:
          name: dist-mac
          path: ./dist/mac
          
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '14'

      - name: Install dependencies
        run: npm install 

      - name: Run pack script
        run: npm run pack

      - name: Upload dist folder
        uses: actions/upload-artifact@v4
        with:
          name: dist-linux
          path: ./dist/linux-unpacked
